@media screen and (min-width: 0px) {

  html,
  body,
  #root {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-color: var(--light-color);

    --primary-color: #FFAB05;
    --light-color: #FFFFFF;
    --dark-color: #000000;
    --shiny-black-color: #0B0B0B;
    --border-color: #E5E7EF;
    --form-header-color: #2A2E34;
    --form-label-color: #4F5762;
    --form-input-color: #808080;
    --error-red-color: #FF0000;

    --basic-padding: 2rem;
    --basic-margin: 2rem;
    --flex-gap: 2rem;
  }

  .loader {
    width: calc(0.75 * var(--basic-padding)) !important;
    height: auto !important;
  }

  * {
    /* outline: 1px red solid; */
  }
}