@media screen and (min-width: 0px) {
	html,
	body,
	#root {
		box-sizing: border-box;
		margin: 0;
		min-height: 100vh;
		background-color: var(--light-color);

		--primary-color: #ffab05;
		--light-color: #ffffff;
		--dark-color: #000000;
		--shiny-black-color: #0b0b0b;
		--border-color: #e5e7ef;
		--form-header-color: #2a2e34;
		--form-label-color: #4f5762;
		--form-input-color: #808080;
		--form-label-border-color: #e9eaeb;
		--error-red-color: #ff0000;
		--subtitle-grey-color: #656f7d;
		--subtitle-dark-color: #1b1b1b;
		--form-field-error-color: #ffe6e4;
		--form-unchecked-border-color: #d2d5da;
		--form-field-error-border-color: #ff3b2d;
		--connection-hints-border-color: #ff3434;
		--connection-hints-bg-color: #ff34341a;
		--stepper-color: #ffab051a;
		--side-nav-off-white-bg-color: #f6f6f6;
		--menu-item-hover-bg-color: #f7f7f7;
		--no-connected-table-header-color: #303237;
		--table-row-border-color: #e6e6e6;
		--table-cell-text-color: #454745;
		--diluted-primary-color: #fffaf0;
		--tab-item-text-color: #7e8494;

		--basic-padding: 2rem;
		--basic-margin: 2rem;
		--flex-gap: 2rem;

		--side-nav-width: 100%;
		--top-nav-height: 1.75rem;
		--side-navigation-header-height: 4.05rem;
	}

	.loader {
		width: calc(0.5 * var(--basic-padding)) !important;
		height: auto !important;
		transform: translate(-50%, -50%) !important;
		position: absolute;
		top: 50%;
		left: 50%;
	}

	@keyframes rotate360 {
		to {
			transform: rotate(1turn);
			transform-origin: center;
		}
	}

	* {
		/* outline: 1px red solid; */
	}

	/* below are styles pertaining to the side-navigation bar */

	/* styles for the side navigation header comprising of the logo and close button  */
	.side-navigation-header {
		gap: calc(var(--flex-gap) / 4);
		justify-content: space-between !important;
		height: var(--side-navigation-header-height);
		padding: calc(var(--basic-padding) / 4) calc(var(--basic-padding) / 2);
	}

	/* For the side navigation header, styles for the app icon */
	/* For each side navigation item, styles for the corresponding icon */
	.side-navigation-header .app-icon,
	.Side-Nav-Item .MuiListItemIcon-root {
		flex: 0 1 24px;
		overflow: hidden;
		min-width: 0px;
	}

	/* For the side navigation header, styles for the app icon to counter flex property alone*/
	.side-navigation-header .app-icon {
		flex: 0 1 auto;
	}

	/* For the side navigation header, styles for the logo image itself */
	.side-navigation-header .app-icon > img {
		width: 100%;
		height: auto;
	}

	/* For the side navigation header, styles for the close icon */
	.side-navigation-header .close-button {
		flex: 0 1 auto;
		overflow: hidden;
	}

	/* For each side navigation item, styles for the corresponding text element container */
	.Side-Nav-Item .MuiListItemText-root {
		flex: 1 1 0;
		overflow: hidden;
	}

	/* For each side navigation item, styles for the corresponding text element (span)*/
	.Side-Nav-Item .MuiListItemText-root > .MuiTypography-root {
		font-family: "Inter";
		font-weight: 500;
		font-size: 14px;
		line-height: normal;
	}

	/* For each side navigation item, styles for the button element */
	.Side-Nav-Item .MuiListItemButton-root {
		border-radius: 10px;
		gap: calc(var(--flex-gap));
	}

	/* For each side navigation item, styles for the button on hover */
	.Side-Nav-Item:hover .MuiListItemButton-root {
		color: var(--light-color);
		background: var(--primary-color);
	}

	/* For each side navigation item, styles for the corresponding icon (to catch svg>path) */
	.Side-Nav-Item:hover
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path {
		stroke: var(--light-color);
	}

	/* For each page, style the corresponding side nav item */
	#Dashboard .Dashboard-Side-Nav-Item .MuiListItemButton-root,
	#Connection .Connections-Side-Nav-Item .MuiListItemButton-root,
	#Saved-View .Saved-View-Side-Nav-Item .MuiListItemButton-root,
	#Setting .Settings-Side-Nav-Item .MuiListItemButton-root {
		color: var(--light-color);
		background: var(--primary-color);
	}

	/* For each page, style the corresponding side nav item to catch svg>path */
	#Dashboard
		.Dashboard-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path,
	#Connection
		.Connections-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path,
	#Saved-View
		.Saved-View-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path,
	#Setting
		.Settings-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path {
		stroke: var(--light-color);
	}

	/* below are styles pertaining to the top navigation bar */
	.top-navigation-user-menu-dropdown .MuiDialog-container {
		right: 0;
		height: auto;
		position: absolute;
		top: var(--side-navigation-header-height);
	}

	.top-navigation-user-menu-dropdown .MuiDialog-paper {
		width: 250px;
		max-height: 400px;
		border-radius: 12px;
		margin: 0 var(--basic-margin) 0;
	}

	/* below are styles pertaining to the alert modals */
	.alert-modal .alert-modal-item {
		display: flex;
		justify-content: center;
		padding: 0 var(--basic-padding);
	}

	.alert-modal .alert-modal-icon {
		padding: var(--basic-padding);
	}

	.alert-modal .alert-modal-spinning-icon > img {
		width: 48px;
		height: 48px;
		object-fit: contain;
		display: inline-block;
		animation: rotate360 1.5s linear infinite;
	}

	.alert-modal .alert-modal-confetti-icon > img {
		width: 100%;
		height: auto;
	}

	.alert-modal .confirmation-modal-header {
		justify-content: flex-start;
		padding: var(--basic-padding);
		border: 1px solid var(--border-color);
	}

	.alert-modal .alert-modal-body {
		gap: calc(var(--flex-gap) / 2);
		padding: 0 var(--basic-padding) var(--basic-padding);
	}

	.alert-modal .alert-modal-body.confirmation-modal-body {
		gap: calc(var(--flex-gap));
	}

	.alert-modal.delete-confirmation-modal .alert-modal-content {
		gap: calc(var(--flex-gap)) !important;
	}

	.alert-modal .alert-modal-body > .connection-hints {
		background-color: var(--connection-hints-bg-color);
		border-left: 5px solid var(--connection-hints-border-color);
		padding: calc(var(--basic-padding) / 2) var(--basic-padding);
	}

	.alert-modal .alert-modal-body > .connection-hints ul {
		display: flex;
		flex-direction: column;
		gap: calc(var(--flex-gap) / 2);
		list-style-position: inside;
		padding-inline: 0;
	}

	.alert-modal .alert-modal-body > .connection-hints ul > li {
		font-family: "Space Grotesk";
		font-weight: 500;
		font-size: 14px;
		line-height: normal;
		color: var(--form-header-color);
		overflow: hidden;
		white-space: wrap;
		text-overflow: ellipsis;
	}

	.alert-modal .alert-modal-body > .complaint-handling {
		border-radius: 10px;
		gap: calc(var(--flex-gap) / 2);
		padding: calc(var(--basic-padding) / 2);
		background-color: var(--stepper-color);
	}

	/* below are styles pertaining to the drop-down modals of select fields */
	[id^="menu-"] .MuiMenu-paper {
		max-height: 250px;
		border-radius: 10px;
	}

	/* below are styles pertaining to form modal components */
	.save-query-form-modal .MuiDialog-paper {
		max-width: 25rem;
		border-radius: 10px;
	}

	@supports (width: -webkit-fill-available) {
		.save-query-form-modal .MuiDialog-paper {
			width: -webkit-fill-available;
		}
	}

	@supports (width: -moz-available) {
		.save-query-form-modal .MuiDialog-paper {
			width: -moz-available;
		}
	}

	@supports not (width: -moz-available) {
		.save-query-form-modal .MuiDialog-paper {
			width: stretch;
		}
	}

	/* below are styles pertaining to the save-query form modal */
	.save-query-form-modal .save-query-hint {
		border-left: 5px solid var(--primary-color);
		background-color: var(--diluted-primary-color);
		padding: calc(var(--basic-padding) / 2);
	}
}

@media screen and (min-width: 425px) {
	html,
	body,
	#root {
		--side-nav-width: 15.625rem;
	}
}

@media screen and (min-width: 768px) {
	html,
	body,
	#root {
		--side-navigation-header-height: 4.55rem;
	}
}
